.header {
    /* margin: 1em 0 2em 0; */
    /* padding-bottom: 1em; */
    /* border-bottom: 1px solid; */
}

.header a {
    margin: 0 1em 0 1em;
    font-size: 1.2em;
    text-decoration: None;
}

.content {
    margin-left: 15em;
}

.SideBar {
     
    padding-top: 10px;
}